@import "./variables.scss";
:root {
  --boxFillColor: #{$boxFillColor};
  --boxSubFillColor: #{$boxSubFillColor};
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;

  h1 {
    font-size: 50px;
    font-family: "Merriweather", serif;
    max-width: 700px;
  }
}

input[type="radio"] {
  display: none;
}

.switch {
  width: 150px;
  height: 50px;
  background: darken($bg, 7%);
  border: 1px solid lighten($bg, 7%);
  transition: all 0.2s ease;
  border-radius: 25px;

  label {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    color: lighten($bg, 9%);
    width: 50%;
    font-weight: 900;
    line-height: 50px;
    transition: all 0.2s ease;

    &.toggle-left {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    &.toggle-right {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}

#radio-right:checked ~ .switch label.toggle-right {
  color: darken($bg, 7%);
  background-color: $boxFillColor;
}

#radio-left:checked ~ .switch label.toggle-left {
  color: darken($bg, 7%);
  background-color: $boxFillColor;
}
