$boxFillColor: hsl(hue(#ea4f67), 100%, 28.8%);
$boxSubFillColor: hsl(hue(#ea4f67), 50%, 28.8%);
$boxColor: rgba(#d1d7db, 0.1);

// Box size
$boxBigWidth: 300px;
$boxBigHeight: 200px;
$boxSmallHeight: 100px;

$fillScale: 0.3;
$fillSubScale: 0.4;

$bg: #252931;
